{% extends 'base/base.html' %}
{% block title %}
Blog Detail
{% endblock %}

{% block body %}
    <div class='container'>
        <div class="row">

            <!-- POST -->
            <div class="col-sm-8">
                <!-- Title -->
                <h1>{{ post.title }}</h1>

                <!-- Author -->

                <!-- Date/Time -->
                <p>Posted on {{ post.published_date }}</p>
                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
                <hr>

                <!-- Post Content -->
                <p clas="lead">{{ post.text }}</p>
            </div>
            <!-- END OF POST -->

            <div class="col-sm-4">
                {% include 'blog/search_card.html' %}
                {% include 'blog/category_card.html' %}
            </div>
        </div>

    </div>
{% endblock %}
