{% extends 'base/base.html' %}

{% load formadmin_filters %}

{% block title %}
Create
{% endblock %}

{% block page_header_content %}
<h1 class="text-center" style="color: white"> Create Post</h1>
{% endblock %}

{% block body %}
<div class="content-section">

    <form class='form-horizontal' action='' method='post' enctype='mulipart/form-data'>
        {% csrf_token %}

        {{ form|as_django_admin }}

        <div class="form-group" >
            <button class="btn btn-outline-info" type="submit"> Publish </button>
        </div>
    </form>

</div>
{% endblock %}
