<div class="card mb-4">
    {% if post.post_logo != '' %}
    <a href="{% url 'blog:detail' post.id %}">
        <img class="img-fluid rounded" src="{{ post.post_logo.url }}" alt="" >
    </a>
    {% endif %}
    <div class="card-body">
        <!-- <h2 class="card-title">{{ post.title }}</h2> -->
        <a class="card-title" href="{% url 'blog:detail' post.id %}">
            <h2 style="color:darkblue">{{ post.title }}</h2>
        </a>
        <p class="card-text">{{ post.content|safe|truncatewords_html:20 }}</p>
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:tagpage' tag %}">{{ tag }}
            {% if not forloop.last %},{% endif %}
        </a>
        {% endfor %}
        <br>
        <!-- View Detail -->
        <a href="{% url 'blog:detail' post.id %}" class="btn btn-primary">Detail</a>
        <!-- Edit -->
        <a class="" href="{% url 'blog:update' post.id %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <!-- Delete -->
        <a class="" href="{% url 'blog:delete' post.id %}">
            <span class="glyphicon glyphicon-trash" style="color:gray"></span>
        </a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ post.published_date|date:'D d M Y' }}
    </div>
</div>
