{% extends 'base/base.html' %}
{% block title %}
Henry's Blog
{% endblock %}

{% block page_header_content %}
    <h1 class="text-center" style="color: white">Posts tagged by {{ tag }}</h1>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% include 'blog/post_thumbnail_list.html' %}
            </div>

            <div class="col-sm-4">
                {% include 'blog/search_card.html' %}
                {% include 'blog/category_card.html' %}
            </div>
        </div>

    </div>

{% endblock %}