{% load martortags %}
<div class="card mb-4">
    {% if post.object.post_logo != '' %}
    <a href="{% url 'blog:detail' post.object.id %}">
        <img class="img-fluid rounded" src="{{ post.object.post_logo.url }}" alt="" >
    </a>
    {% endif %}
    <div class="card-body">
        <!-- <h2 class="card-title">{{ post.object.title }}</h2> -->
        <a class="card-title" href="{% url 'blog:detail' post.object.id %}">
            <h2 style="color:darkblue">{{ post.title }}</h2>
        </a>
        {% comment "used for tinymce"%}
        <p clas="card-body">{{ post.content|safe }}</p>
        <p class="card-text">{{ post.content|safe|truncatewords_html:20 }}</p>
        <p clas="card-body">{{ post.formatted_markdown|safe|truncatewords_html:20 }}</p>
        {% endcomment %}
        <p clas="card-body">{{ post.object.content|safe_markdown|truncatewords_html:20 }}</p>
        {% for tag in post.object.tags.all %}
        <a href="{% url 'blog:tagpage' tag %}">{{ tag }}
            {% if not forloop.last %},{% endif %}
        </a>
        {% endfor %}
        <br>
        <!-- View Detail -->
        <a href="{% url 'blog:detail' post.object.id %}" class="btn btn-primary">Detail</a>
        <!-- Edit -->
        <a class="" href="{% url 'blog:update' post.object.id %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <!-- Delete -->
        <a class="" href="{% url 'blog:delete' post.object.id %}">
            <span class="glyphicon glyphicon-trash" style="color:gray"></span>
        </a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ post.object.published_date|date:'D d M Y H:i' }}
    </div>
</div>
