<!DOCTYPE html>
<html lang='en'>
    <!-- HEAD -->
    {% block head %}
    <head class="page-header">
        <title>{% block title %}Henry{% endblock %}</title>
        {% block head_content %}
        <meta charset='UTF-8'>
        {% load staticfiles %}
        <link rel='stylesheet' type='text/css' href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" >
        <link rel='stylesheet' type='text/css' href="{% static 'home/home_style.css' %}" >
        <!-- Boostrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!--Tinymce Text-Editor (Must be in Head Tag) -->
        <script src="{% static 'vendor/tinymce/js/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/tinymce/js/tinymce/custom.js' %}" ></script>
        {% endblock %}
    </head>
    {% endblock %}
    <!-- BODY -->
    {% block page %}
    <body>
        <!-- Navigation -->
        {% block nav %}
        <nav class="navbar-expand-lg navbar-dark bg-dark" style="height:50px">
            <div class='container-fluid'>
                <!-- header -->
                <a href="{% url 'home:index' %}" class="float-left text-center">
                    <img  src="{% static 'home/images/henry_head_portrait.jpg' %}" class='rounded-circle' width="96" height="96">
                    <br>
                    <font face='Satisfy' color="white">Henry Yang</font>
                </a>
                <!-- -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class='navbar-toggler-icon'></span>
                </button>
                <!-- ITEMS -->
                <div class='collapse navbar-collapse' id='topNavBar'>
                    <ui class='nav navbar-nav ml-auto'>
                        <!-- BLOG -->
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'blog:index' %}">
                                Blog
                            </a>
                        </li>
                        <!-- ABOUT -->
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'home:about' %}">
                                About
                            </a>
                        </li>
                        <!-- CONTACT -->
                        <li class='nav-item'>
                            <a class='nav-link' href="{% url 'home:contact' %}">
                                Contact
                            </a>
                        </li>
                    </ui>


                </div>
            </div>
        </nav>
        <!-- endblock nav -->
        {% endblock %}
        <!-- Page Header -->
        {% block page_header %}
        <header class="masthead" style="background-color: rgb(46,94,168); height:80px">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                          {% block page_header_content %}
                          <h1 class="text-center" style="color: white"> Welcome to Henry's Homepage</h1>
                          {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        <!-- user define body -->
        {% block body %}
        {% endblock %}


    </body>
    <!-- endblock page -->
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container fixed-bottom">
            {% block footer %}
            <p class="copyright text-muted text-right">Copyright &copy; yanghengmonkey@icloud.com 2019</p>
            {% endblock %}
        </div>
    </footer>

</html>
